<template>
    <div class="example">
        <h1>Vuex Component</h1>
        <h1 @click="increaseCount">{{$store.state.count}}</h1>
    </div>
</template>
<script>
    export default {
        name:'Vuex',
        methods:{
            increaseCount(){
                this.$store.dispatch('increaseCount',1)
            }
        }
    }
</script>
<style></style>