<template>
    <div class="welcome">
        <!--        <div v-for="country of countries"> {{country.Country}}</div>-->
        <!--        <div v-if="country==='Nepal' && state "></div>-->
        <input type="text" placeholder="Enter country" v-model="country">
        <button @click="loadData()">Change Country</button>
        <div class="stats">
            <div class="covidList" v-for="dat in this.$store.state.covidStats">
                <div>{{dat.province}}</div>
                <div>Confirmed:{{dat.confirmed}}</div>
                <div>Recovered:{{dat.recovered}}</div>
                <div>Deaths:{{dat.deaths}}</div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        name: 'Welcome',
        props: ['title'],
        data() {
            return {
                country: 'Nepal',
                confirmed: '',
                deaths: '',
                recovered: '',
            }
        },
        async created() {
            await this.loadData()
        },
        computed: {
            percentage() {
                return this.actual * 100 / this.total
            },

        },
        watch: {
            countries() {
                this.message = 'Data has been loaded'
            }
        },
        methods: {
            async loadData() {
                this.$store.dispatch('loadCovidStats', this.country).then(() =>
                    console.log('Success'));
            }
        }
    }
</script>
<style>
    .stats {
        display: flex;
        flex-wrap: wrap;
    }

    .covidList {
        margin: 10px;
        padding: 10px;
        border: 1px solid rgba(0, 0, 0, 0.12);
    }
</style>