<template>
    <nav>
        <div class="logo">Logo</div>
        <div class="nav-items">
            <div class="nav-item">Home</div>
            <div class="nav-item">About</div>
            <div class="nav-item">Services</div>
            <div class="nav-item">Contact</div>
            <button class="nav-item" @click="increaseCount">Products</button>
        </div>
    </nav>
</template>
<script>
    export default {
        name:'Nav',
        methods:{
            increaseCount(){
                this.$store.dispatch('increaseCount',2);
            }
        }
    }
</script>
<style lang="scss" scoped>
    nav{
        display: flex;
        justify-content: space-between;
        height:8vh;
        width: 100%;
        align-items: center;
        padding:0 7.5vw;
        box-sizing: border-box;
        background:teal;
        color:white;
        .nav-items{
            display: flex;
            width:30%;
            justify-content: space-between;
        }
    }
</style>