<template>
    <main>
        <Nav />
        <router-view />
    </main>
</template>
<script>
    import Nav from "../components/partials/Nav";
    export default {
        name:'MainLayout',
        components: {Nav}
    }
</script>